.countdownSection {
  height: 50vh;
  width: 100vw;
  background-color: #f9f9f9;
  text-align: center; 
}

 .countdownSection h1 {
  text-transform: uppercase;
}

.countdownSection p {
  font-size: 1rem;
  margin-top: 0;
}

.timer-wrap {
  display: flex;
  /* width: 60vw;
  box-sizing: border-box;
  margin: auto;
  align-items: center;
  align-content: space-between; */
  justify-content: space-evenly;
  align-items: center;
} 

.timer-wrap {
  max-width: 1440px;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}
.timer-wrap .days, .timer-wrap .hours, .timer-wrap .minutes, .timer-wrap .seconds {
  position: relative;
}
.timer-wrap .days .time, .timer-wrap .hours .time, .timer-wrap .minutes .time, .timer-wrap .seconds .time {
  box-sizing: border-box;
  height: 150px;
  width: 148px;
  perspective: 350px;
  position: relative;
}
.timer-wrap .days .time .time-top, .timer-wrap .days .time .fake-time-top, .timer-wrap .days .time .hours .time .fake-time-top, .timer-wrap .hours .time .days .time .fake-time-top, .timer-wrap .days .time .minutes .time .fake-time-top, .timer-wrap .minutes .time .days .time .fake-time-top, .timer-wrap .days .time .seconds .time .fake-time-top, .timer-wrap .seconds .time .days .time .fake-time-top, .timer-wrap .days .time .time-bottom, .timer-wrap .days .time .hours .time .time-bottom, .timer-wrap .hours .time .days .time .time-bottom, .timer-wrap .days .time .minutes .time .time-bottom, .timer-wrap .minutes .time .days .time .time-bottom, .timer-wrap .days .time .seconds .time .time-bottom, .timer-wrap .seconds .time .days .time .time-bottom, .timer-wrap .hours .time .time-top, .timer-wrap .hours .time .fake-time-top, .timer-wrap .hours .time .minutes .time .fake-time-top, .timer-wrap .minutes .time .hours .time .fake-time-top, .timer-wrap .hours .time .seconds .time .fake-time-top, .timer-wrap .seconds .time .hours .time .fake-time-top, .timer-wrap .hours .time .time-bottom, .timer-wrap .hours .time .minutes .time .time-bottom, .timer-wrap .minutes .time .hours .time .time-bottom, .timer-wrap .hours .time .seconds .time .time-bottom, .timer-wrap .seconds .time .hours .time .time-bottom, .timer-wrap .minutes .time .time-top, .timer-wrap .minutes .time .fake-time-top, .timer-wrap .minutes .time .seconds .time .fake-time-top, .timer-wrap .seconds .time .minutes .time .fake-time-top, .timer-wrap .minutes .time .time-bottom, .timer-wrap .minutes .time .seconds .time .time-bottom, .timer-wrap .seconds .time .minutes .time .time-bottom, .timer-wrap .seconds .time .time-top, .timer-wrap .seconds .time .fake-time-top, .timer-wrap .seconds .time .time-bottom {
  border-radius: 10px;
  color: #FB5E84;
  height: 50%;
  background-color: #2C2D44;
  border-bottom: 1px black solid;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform-origin: bottom;
}
.timer-wrap .days .time .always, .timer-wrap .hours .time .always, .timer-wrap .minutes .time .always, .timer-wrap .seconds .time .always {
  animation-iteration-count: infinite !important;
}
.timer-wrap .days .time .flip, .timer-wrap .hours .time .flip, .timer-wrap .minutes .time .flip, .timer-wrap .seconds .time .flip {
  animation: flip-down 1s ease-in-out;
  animation-fill-mode: forwards;
}
.timer-wrap .days .time .fake-time-top, .timer-wrap .hours .time .fake-time-top, .timer-wrap .minutes .time .fake-time-top, .timer-wrap .seconds .time .fake-time-top {
  width: 100%;
  animation: none;
  position: absolute;
  top: 0;
  left: 0;
}
.timer-wrap .days .time .half-circle, .timer-wrap .days .time .half-circle-left, .timer-wrap .days .time .hours .time .half-circle-left, .timer-wrap .hours .time .days .time .half-circle-left, .timer-wrap .days .time .minutes .time .half-circle-left, .timer-wrap .minutes .time .days .time .half-circle-left, .timer-wrap .days .time .seconds .time .half-circle-left, .timer-wrap .seconds .time .days .time .half-circle-left, .timer-wrap .days .time .half-circle-right, .timer-wrap .days .time .hours .time .half-circle-right, .timer-wrap .hours .time .days .time .half-circle-right, .timer-wrap .days .time .minutes .time .half-circle-right, .timer-wrap .minutes .time .days .time .half-circle-right, .timer-wrap .days .time .seconds .time .half-circle-right, .timer-wrap .seconds .time .days .time .half-circle-right, .timer-wrap .hours .time .half-circle, .timer-wrap .hours .time .half-circle-left, .timer-wrap .hours .time .minutes .time .half-circle-left, .timer-wrap .minutes .time .hours .time .half-circle-left, .timer-wrap .hours .time .seconds .time .half-circle-left, .timer-wrap .seconds .time .hours .time .half-circle-left, .timer-wrap .hours .time .half-circle-right, .timer-wrap .hours .time .minutes .time .half-circle-right, .timer-wrap .minutes .time .hours .time .half-circle-right, .timer-wrap .hours .time .seconds .time .half-circle-right, .timer-wrap .seconds .time .hours .time .half-circle-right, .timer-wrap .minutes .time .half-circle, .timer-wrap .minutes .time .half-circle-left, .timer-wrap .minutes .time .seconds .time .half-circle-left, .timer-wrap .seconds .time .minutes .time .half-circle-left, .timer-wrap .minutes .time .half-circle-right, .timer-wrap .minutes .time .seconds .time .half-circle-right, .timer-wrap .seconds .time .minutes .time .half-circle-right, .timer-wrap .seconds .time .half-circle, .timer-wrap .seconds .time .half-circle-left, .timer-wrap .seconds .time .half-circle-right {
  background-color: black;
  height: 5px;
  width: 10px;
  border-bottom-left-radius: 10px;
  top: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  z-index: 1;
}
.timer-wrap .days .time .half-circle-left, .timer-wrap .hours .time .half-circle-left, .timer-wrap .minutes .time .half-circle-left, .timer-wrap .seconds .time .half-circle-left {
  transform: rotate(-90deg);
  left: -3px;
  background-color: black;
  top: 73px;
}
.timer-wrap .days .time .half-circle-right, .timer-wrap .hours .time .half-circle-right, .timer-wrap .minutes .time .half-circle-right, .timer-wrap .seconds .time .half-circle-right {
  transform: rotate(90deg);
  right: -3px;
  top: 73px;
}
.timer-wrap .days .time .time-bottom, .timer-wrap .hours .time .time-bottom, .timer-wrap .minutes .time .time-bottom, .timer-wrap .seconds .time .time-bottom {
  animation: none;
  background-color: #343650;
  transform-style: flat;
}
.timer-wrap .days .time .time-left, .timer-wrap .hours .time .time-left, .timer-wrap .minutes .time .time-left, .timer-wrap .seconds .time .time-left {
  position: absolute;
  font-size: 55pt;
  left: 0;
  right: 0;
  z-index: 1;
  color: #FB5E84;
  top: 25px;
}
.timer-wrap .days .time .fold, .timer-wrap .hours .time .fold, .timer-wrap .minutes .time .fold, .timer-wrap .seconds .time .fold {
  animation: fold 1s ease-in-out 0.2s;
}
.timer-wrap .days .desc, .timer-wrap .hours .desc, .timer-wrap .minutes .desc, .timer-wrap .seconds .desc {
  margin-top: 10px;
  color: #1f2b37;
}

@media screen and (max-width: 695px) {
  .timer-wrap {
    max-width: 100%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
  .timer-wrap .days .time, .timer-wrap .hours .time, .timer-wrap .minutes .time, .timer-wrap .seconds .time {
    max-width: 100px;
    max-height: 100px;
  }
  .timer-wrap .days .time .time-left, .timer-wrap .hours .time .time-left, .timer-wrap .minutes .time .time-left, .timer-wrap .seconds .time .time-left {
    top: 15px;
    font-size: 40pt;
  }
  .timer-wrap .days .time .half-circle, .timer-wrap .days .time .half-circle-left, .timer-wrap .days .time .hours .time .half-circle-left, .timer-wrap .hours .time .days .time .half-circle-left, .timer-wrap .days .time .minutes .time .half-circle-left, .timer-wrap .minutes .time .days .time .half-circle-left, .timer-wrap .days .time .seconds .time .half-circle-left, .timer-wrap .seconds .time .days .time .half-circle-left, .timer-wrap .days .time .half-circle-right, .timer-wrap .days .time .hours .time .half-circle-right, .timer-wrap .hours .time .days .time .half-circle-right, .timer-wrap .days .time .minutes .time .half-circle-right, .timer-wrap .minutes .time .days .time .half-circle-right, .timer-wrap .days .time .seconds .time .half-circle-right, .timer-wrap .seconds .time .days .time .half-circle-right, .timer-wrap .hours .time .half-circle, .timer-wrap .hours .time .half-circle-left, .timer-wrap .hours .time .minutes .time .half-circle-left, .timer-wrap .minutes .time .hours .time .half-circle-left, .timer-wrap .hours .time .seconds .time .half-circle-left, .timer-wrap .seconds .time .hours .time .half-circle-left, .timer-wrap .hours .time .half-circle-right, .timer-wrap .hours .time .minutes .time .half-circle-right, .timer-wrap .minutes .time .hours .time .half-circle-right, .timer-wrap .hours .time .seconds .time .half-circle-right, .timer-wrap .seconds .time .hours .time .half-circle-right, .timer-wrap .minutes .time .half-circle, .timer-wrap .minutes .time .half-circle-left, .timer-wrap .minutes .time .seconds .time .half-circle-left, .timer-wrap .seconds .time .minutes .time .half-circle-left, .timer-wrap .minutes .time .half-circle-right, .timer-wrap .minutes .time .seconds .time .half-circle-right, .timer-wrap .seconds .time .minutes .time .half-circle-right, .timer-wrap .seconds .time .half-circle, .timer-wrap .seconds .time .half-circle-left, .timer-wrap .seconds .time .half-circle-right {
    top: 49px;
  }
}
@media screen and (max-width: 395px) {
  .timer-wrap .days .time, .timer-wrap .hours .time, .timer-wrap .minutes .time, .timer-wrap .seconds .time {
    max-width: 70px;
    max-height: 70px;
  }
  .timer-wrap .days .time .time-left, .timer-wrap .hours .time .time-left, .timer-wrap .minutes .time .time-left, .timer-wrap .seconds .time .time-left {
    top: 12px;
    font-size: 25pt;
  }
  .timer-wrap .days .time .half-circle, .timer-wrap .days .time .half-circle-left, .timer-wrap .days .time .hours .time .half-circle-left, .timer-wrap .hours .time .days .time .half-circle-left, .timer-wrap .days .time .minutes .time .half-circle-left, .timer-wrap .minutes .time .days .time .half-circle-left, .timer-wrap .days .time .seconds .time .half-circle-left, .timer-wrap .seconds .time .days .time .half-circle-left, .timer-wrap .days .time .half-circle-right, .timer-wrap .days .time .hours .time .half-circle-right, .timer-wrap .hours .time .days .time .half-circle-right, .timer-wrap .days .time .minutes .time .half-circle-right, .timer-wrap .minutes .time .days .time .half-circle-right, .timer-wrap .days .time .seconds .time .half-circle-right, .timer-wrap .seconds .time .days .time .half-circle-right, .timer-wrap .hours .time .half-circle, .timer-wrap .hours .time .half-circle-left, .timer-wrap .hours .time .minutes .time .half-circle-left, .timer-wrap .minutes .time .hours .time .half-circle-left, .timer-wrap .hours .time .seconds .time .half-circle-left, .timer-wrap .seconds .time .hours .time .half-circle-left, .timer-wrap .hours .time .half-circle-right, .timer-wrap .hours .time .minutes .time .half-circle-right, .timer-wrap .minutes .time .hours .time .half-circle-right, .timer-wrap .hours .time .seconds .time .half-circle-right, .timer-wrap .seconds .time .hours .time .half-circle-right, .timer-wrap .minutes .time .half-circle, .timer-wrap .minutes .time .half-circle-left, .timer-wrap .minutes .time .seconds .time .half-circle-left, .timer-wrap .seconds .time .minutes .time .half-circle-left, .timer-wrap .minutes .time .half-circle-right, .timer-wrap .minutes .time .seconds .time .half-circle-right, .timer-wrap .seconds .time .minutes .time .half-circle-right, .timer-wrap .seconds .time .half-circle, .timer-wrap .seconds .time .half-circle-left, .timer-wrap .seconds .time .half-circle-right {
    top: 38px;
  }
}


@keyframes flip-down {
  0% {
    transform: rotateX(0deg);
 }
  100% {
    transform: rotateX(-180deg);
    background-color: #343650;
 }
}
@keyframes fold {
  0% {
    transform: rotateX(0deg);
 }
  50% {
    transform: rotateX(-120deg);
    opacity: 0.3;
 }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
 }
}
