.countdownSection {
  height: 50vh;
  width: 100vw;
  background-color: #f9f9f9;
  text-align: center; 
}

 .countdownSection h1 {
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 2rem;
}

.countdownSection p {
  font-size: 1rem;
}