.aboutCard {
  min-height: 165vh;
  width: 100vw;
  background-color: #1f2b37;
}

.aboutSection {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #1f2b37;
}

.description p {
  width: 90vw;
  margin: 1rem auto;
  color: white;
}

.image img {
  position: absolute;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
  height: 30vh;
  width: auto;
}

@media (min-width: 360px) and (min-height: 640px) {
  .aboutCard {
    min-height: 175vh;
  }
  
  .aboutSection {
    min-height: 110vh;
  }

  .description p {
    font-size: 1.2rem;
    margin: 1.8rem auto;
  }

  .description p:first-of-type {
    padding-top: 1rem;
  }

  .image img {
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    height: 30vh;
    width: auto;
  }
}

@media (min-width: 360px) and (min-height: 740px) {
  .aboutCard {
    min-height: 165vh;
  }

  .aboutSection {
    min-height: 100vh;
  }
}

@media (min-width: 390px) {
  .description p {
    width: 85vw;
    font-size: 1.4rem;
  }

  .image img {
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    height: 25vh;
    width: auto;
  }
}

@media (min-width: 410px) {
  .description p {
    width: 75vw;
  }

  .image img {
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    height: 25vh;
    width: auto;
  }
}

@media (min-width: 600px) {
  .description p {
    width: 70vw;
    font-size: 1.6rem;
  }

  .description p:first-of-type {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .image img {
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    height: 25vh;
    width: auto;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
	.description p {
		width: 65vw;
		font-size: 1.8rem;
	}

  .description p:first-of-type {
    padding-top: 1.1rem;
  }

  .image img {
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    height: 30vh;
    width: auto;
  }
}

@media (min-width: 1024px) {
  .aboutCard {
    position: relative;
    min-height: 162vh;
  }

  .aboutSection {
    position: relative;
    top: 0;
    left: 0;
    height: 162vh;
  }

  .description p {
    font-size: 1.5rem;
  }

  .description p:first-of-type {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 35vw;
    margin: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .description p:last-of-type {
    position: absolute;
    bottom: 9vh;
    left: 15vw;
    width: 70vw;
  }

  .image img {
    top: 67vh;
    left: 50vw;
    transform: translateX(-50%);
    width: auto;
    height: 45vh;
  }
}

@media (min-width: 1280px) {
  .image img {
    top: 67vh;
    left: 50vw;
    transform: translateX(-50%);
    width: auto;
    height: 45vh;
  }
}

@media (min-width: 1366px) {
  .description p {
    font-size: 1.6rem;
  }

  .description p:first-of-type {
    top: 6vh;
    left: 5vw;
  }

  .description p:last-of-type {
    bottom: 13vh;
    left: 20vw;
    width: 60vw;
  }
}