.featuresSection {
  min-height: 170vh;
  width: 100vw;
  overflow: hidden;
}

.cardsContainer {
  width: 80vw;
  margin: 0 auto;
}

.cardsContainer h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 1.3rem;
}

.cardTitle {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.cardContent {
  width: 80vw;
  height: 45vh;
  padding-top: 1rem;
}

.cardContent img {
  display: block;
  height: 30%;
  margin: 0 auto;
}

.cardDescription {
  text-align: justify;
}

@media (min-width: 360px) {
  .featuresSection {
    min-height: 140vh;
  }

  .cardContent {
    height: 35vh;
  }
}

@media (min-width: 390px) {
  .featuresSection {
    min-height: 120vh;
  }

  .cardContent {
    height: 30vh;
  }
}

@media (min-width: 410px) {
  .featuresSection {
    min-height: 105vh;
  }

  .cardContent {
    height: 25vh;
  }
}

@media (min-width: 1024px) {
  .cardFeatures {
    display: flex;
    width: 80vw;
    height: auto;
    padding-bottom: 1.5rem;
    margin: 0 auto;
  }

  .cardContent {
    height: 70vh;
    padding: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .featuresSection {
    min-height: 95vh;
  }
}