.header {
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  background-color: #f9f9f9;
}

.header .logo {
  position: relative;
  left: 5%;
  top: 15%;
  width: 50vw;
  z-index: 3;
}

@media (min-width: 360px) {
  .header .logo {
    left: 5%;
    top: 15%;
    width: 55vw;
  }
}

@media (min-width: 410px) {
  .header .logo {
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 13vh;
  }

  .header .logo {
    left: 5%;
    top: 10%;
    width: 28vw;
  }
}